.categories-main-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    background-color: #FAFAFA;
    padding: 3%;
    border-top: 1px solid #e8e8e8;
}

.category-status {
  font-size: 2rem;
  /* margin-bottom: 4%; */
}

.check-status-btn {
  color: #fff;
  background-color: #0290FF;
  border: none;
  height: 2rem;
  width: 15%;
  border-radius: 0.2rem;
  cursor: pointer;
}

.check-status-btn:hover {
  color: #ffe;
  background-color: #0144dd;
}